.chat
  .chat__main
    .chat__main_group-info
      .inf
        .inf__log
          .inf__log_title
            = @group.name
          .inf__log_member
            -@group.users.each do |user| 
              = user.name
        .inf__edit
          = link_to 'Edit', edit_group_path(@group), class: "Editlink" 
    .chat__main_message-list
      = render @messages
      
    .chat__main_message-form
      .inp
        = form_for [@group, @message] do |f|
          .inp__box
            = f.text_field :text, class: 'inp__box__message', placeholder: 'type a message'
            .inp__box__image
              = f.label :image, class: 'inp__box__image__file' do
                = icon('fas', 'image', class: 'icon')
                = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'inp__bt'
